LABEL_STUDIO_BASE_DATA_DIR=__INSTALL_ROOT__\data\label-studio
SAM3_REPO_DIR=__INSTALL_ROOT__\packages\sam3_source
SAM3_CHECKPOINT_PATH=__INSTALL_ROOT__\models\__SAM3_CHECKPOINT__
SAM3_MODEL_DIR=__INSTALL_ROOT__\models
SAM3_MODEL_VERSION=sam3.1_multiplex
SAM3_ML_PORT=9090
SAM3_LOG_DIR=__INSTALL_ROOT__\logs\sam3
